<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
        #infoTag{
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <h1>update</h1>
     <div id="infoTag">
        <input id="food" type="text" value=<%= rows[0].title %> </input>
        <h1>현재 사진</h1>
        <img id="currentImg" width="200px" src=<%= `http://localhost:3000/${rows[0].fileUrl}`%> alt="img">
        <h1>사진 변경</h1>
        <img width="200px" id="preView"/>
        <input type="file" id="img" onchange="onChangeImg(this)"></input>
        <input id="price" type="number" value=<%=` ${rows[0].content} 원`%></input>
    </div>
    <button onclick="onClickFix()">수정</button>
    <button><a href="/admin">뒤로가기</a></button>
    <script>
        const s = (selector) => {
                return document.querySelector(selector);
        };

        const preViewImg = s("#preView");

        const onChangeImg=(input)=> {
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    preViewImg.src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                preViewImg.src = "";
            }
        }
         const onClickFix = async () => {

            const currentImg = s("#currentImg");
            const food = s("#food");
            const price = s("#price");
            const imgInput = s("#img")
            const id = window.location.pathname.split("/")[2]
            const frm = new FormData();
         
            frm.append("title", food.value);
            frm.append("content", price.value);

            if(preViewImg.src){
                console.log(imgInput.files[0])
                frm.append("file", imgInput.files[0]);
                frm.append("originalFileName", imgInput.files[0].name);
            }
          await axios
            .put(`/memos/${id}`, frm, {
              headers: {
                token: window.localStorage.getItem("token"),
              },
            })
            .then((res) => {
                alert("수정성공");
                location.href=`/admin`;
            })
            .catch((e) => alert("수정실패"));
        };
    </script>
</body>
</html>